* {
  margin: 0;
  padding: 0;
}

.details {
  margin: 10px;
  padding: 8px;
}

.details-header {
  flex-direction: row;
  display: flex;
  height: 30px;
  border-bottom: solid lightgray 2px;
  padding: 0 0 8px 0;
  margin: 0 0 16px 0;
}

.details-header p {
  flex: auto;
  color: var(--text-primary, #3d3d3d);
  /* Title/S-bold */
  font-family: "Lucida Console";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.details-header img {
  float: right;
}

.point-down {
  transform: rotate(180deg);
}

.point-up {
  transform: rotate(0deg);
}

.collapsed {
  display: none;
  height: 0;
  transition: max-height 0.2s ease-out;
}

.details-cols {
  display: flex;
  background: var(--surface, #f8f8f8);
  margin: 10px 0 0 0;
  padding: 8px;
}

.details-col {
  flex: 1 1 auto;
}
.details-col:first-child {
  margin: 0 24px 0 0;
}

.details-info {
  margin: 0 0 16px 0;
}

.details-info-title {
  color: var(--text-primary, #3d3d3d);
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  /* Body/M-bold */
  font-family: "Open Sans", "Lucida Sans Unicode";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
}

.details-info-data {
  display: inline;
  color: var(--text-primary, #3d3d3d);

  /* Body/M-reg */
  font-family: "Open Sans", "Lucida Sans Unicode";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
}
.details-info-data img {
  margin-right: 4px;
  vertical-align: middle;
}

/* Desktop */
@media (min-width: 1200px) {
  .details {
    width: 50%;
    flex-basis: 40%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .details {
    flex-basis: 40%;
  }
}

/* Mobile */
@media (max-width: 767) {
  .details {
    width: 100%;
  }
}
