* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title {
  background: whitesmoke;
  color: var(--text-highlight, #1f1f1f);
  padding: 24px;
  /* Heading/Lucida Console/H3 */
  font-family: "Lucida Console";
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 39.6px */
  letter-spacing: -0.36px;
}

.summary-title {
  padding: 24px;
  box-shadow: 0 -1px 2px lightgray;
  color: var(--text-primary, #3d3d3d);
  /* Title/M-bold */
  font-family: "Lucida Console";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  letter-spacing: -0.2px;
}

/* Desktop */
@media (min-width: 1200px) {
  .overview-collection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .overview-collection {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
  }
}

/* Mobile */
@media (max-width: 767) {
  .overview-collection {
    display: inline;
    width: 100%;
  }
}

#blazor-error-ui {
  color-scheme: light only;
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
